//
// Simplify using SCSS sintax. Use http://www.sassmeister.com/
//

@mixin mix($bottom, $height, $top) {
  position: absolute;
  right: 0;
  left: 0;
  bottom: $bottom;
  height: $height;
  top: $top;
}

$size-line-height: 50px;
$colors: (
  primary: silver,
  secundary: #888,
);

.menu {
  @include mix(auto, 50px, 0px);
  .logged-user {
    padding: 20px;
    .controls {
      @include mix(0, 20px, auto);
    }
    .avatar {
      display: block;
      width: 100px;
      i {
        color: map-get($colors, secundary);
        line-height: 100px;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    height: 100%;
    li {
      position: relative;
      line-height: $size-line-height;
      &.current {
        background: map-get($colors, primary);
      }
      &:first-child {
        border-top: 1px solid map-get($colors, primary);
      }
      i {
        line-height: $size-line-height;
        font-size: 14pt;
      }
    }
  }
}
