.book-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  width: 100%;
}

.icon-toolbar {
  cursor: pointer;
  margin-right: 4px;
}

.row-book{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}