<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sandbox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <div *ngIf="folder==='home'">
      <h3>Select a menu item</h3>
      <p>This app has complete the section rating and expandable content.</p>
    </div>
  </div>
  <div *ngIf="folder==='Expandable-Content'">
    <app-expandable-content
      title="Title1"
      (change)="expandableContentChanged($event)"
    >
      Content1
    </app-expandable-content>
    <app-expandable-content
      title="Title2"
      (change)="expandableContentChanged($event)"
    >
      Content2
    </app-expandable-content>
    <app-expandable-content
      title="Title3"
      (change)="expandableContentChanged($event)"
    >
      Content3
    </app-expandable-content>
    <app-expandable-content
      title="Title4"
      (change)="expandableContentChanged($event)"
    >
      Content4
    </app-expandable-content>
    <p style="padding: 20px 10px">
      Number of expanded {{numElementExpandable}}
    </p>
  </div>
  <div *ngIf="folder==='Rating'">
    <app-rating (change)="calculateTotalVotes($event)"></app-rating>
    <app-rating defaultUpVotes="1" (change)="calculateTotalVotes($event)"></app-rating>
    <app-rating defaultDownVotes="2" (change)="calculateTotalVotes($event)"></app-rating>
    <app-rating defaultUpVotes="3" defaultDownVotes="1" (change)="calculateTotalVotes($event)"></app-rating>
    <p style="padding: 0px 10px">Up votes sum {{totalUpVotes}}</p>
    <p style="padding: 0px 10px">Down votes sum {{totalDownVotes}}</p>
  </div>
</ion-content>
