<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>Sandbox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!--Rating-->
  <div class="container-rating">
    <ion-text>
      <h1>Rating</h1>
    </ion-text>
    <ion-button color="success" (click)="likeClick()">
      <ion-icon slot="start" name="thumbs-up"> </ion-icon>
      {{like}}
    </ion-button>
    <ion-button color="danger" (click)="dislikeClick()">
      <ion-icon slot="start" name="thumbs-down"> </ion-icon>
      {{dislike}}
    </ion-button>
    <ion-text>
      <p>{{meanRating}}<span> / 10</span></p>
    </ion-text>
  </div>
  <!--Expandable content-->
  <div class="container-expandable">
    <ion-text>
      <h1 class="title">Expandable content</h1>
    </ion-text>
    <ion-card>
      <ion-card-content class="header-card">
        <ion-button (click)="handleExpandableContent()">
          <ion-icon [name]="iconBtn"></ion-icon>
        </ion-button>
        <ion-card-title class="ion-padding-horizontal">Title</ion-card-title>
      </ion-card-content>
      <ion-card-content [hidden]="isHidden">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut arcu
        velit. Morbi ac euismod sem. Sed ex odio, luctus ac suscipit vel, mattis
        in nunc. Nunc fringilla diam et felis consectetur, sed sagittis neque
        ornare. Mauris in quam commodo, tincidunt nisi vel, congue mi. Nulla
        lorem magna, sagittis sit amet tempus sit amet, cursus id odio. Donec
        luctus vitae felis ac mattis.
      </ion-card-content>
    </ion-card>
  </div>
  <!--User form-->
  <div>
    <ion-text>
      <h1 class="title">User form</h1>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Name</ion-label>
        <ion-input placeholder="Your Name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Birthdate</ion-label>
        <ion-input placeholder="Your Birthdate" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Sex</ion-label>
        <ion-select slot="end" placeholder="Select your sex">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Phone</ion-label>
        <ion-input placeholder="Your Phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input placeholder="Your Email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Message</ion-label>
        <ion-textarea placeholder="Write your message"> </ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
