ion-title{
    font-weight: bold;
}
.title{
    font-weight: bold;
    font-size: 30px;
}
.header-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ion-text span {
    padding: 0 4px;
}