.container-rating {
  padding: 20px 10px;
  p {
    padding: 0 4px;
  }
  ion-button {
    padding: 0 4px;
    ion-icon {
      padding: 0 8px;
    }
  }
  ion-text {
    span {
      padding: 0 4px;
    }
  }
}
