<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"PAGE_REACT_FORM.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-loading-feedback [state]="state" (retryPressed)="loadUser()">
    <!--Form-->
    <div>
      <h1>{{"PAGE_REACT_FORM.SECTIONS.FORM" | translate}}</h1>
      <form [formGroup]="form" (submit)="submitForm()">
        <ion-item>
          <ion-label>{{"PAGE_REACT_FORM.FORM.NAME" | translate}}</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{"PAGE_REACT_FORM.FORM.BIRTHDATE" | translate}}</ion-label>
          <ion-datetime formControlName="birthDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>{{"PAGE_REACT_FORM.FORM.SEX" | translate}}</ion-label>
          <ion-select formControlName="sex">
            <ion-select-option value="male">{{"PAGE_REACT_FORM.FORM.TYPE_SEX.MALE" | translate}}</ion-select-option>
            <ion-select-option value="female">{{"PAGE_REACT_FORM.FORM.TYPE_SEX.FEMALE" | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{"PAGE_REACT_FORM.FORM.PHONE" | translate}}</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{"PAGE_REACT_FORM.FORM.EMAIL" | translate}}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="ion-margin ion-text-right">
          <ion-button type="submit" [disabled]="form.invalid || isDisable">{{"PAGE_REACT_FORM.BUTTONS.SUBMIT" | translate}}</ion-button>
        </div>
      </form>
    </div>
  </app-loading-feedback>
  <!--Buttons-->
  <div>
    <ion-button (click)="reset()">{{"PAGE_REACT_FORM.BUTTONS.RESET_FORM" | translate}}</ion-button>
    <ion-button (click)="loadStaticUser()">{{"PAGE_REACT_FORM.BUTTONS.LOAD_STATIC" | translate}}</ion-button>
    <ion-button (click)="loadBackUser()">{{"PAGE_REACT_FORM.BUTTONS.LOAD_BACKEND" | translate}}</ion-button>
  </div>
  <!--Summary-->
  <div>
    <h1>{{"PAGE_REACT_FORM.SECTIONS.SUMMARY" | translate}}</h1>
    <ion-item>
      <ion-label>{{"PAGE_REACT_FORM.FORM.NAME" | translate}}</ion-label>
      <ion-label>{{ user?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{"PAGE_REACT_FORM.FORM.BIRTHDATE" | translate}}</ion-label>
      <ion-label>{{ user?.birthDate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{"PAGE_REACT_FORM.FORM.SEX" | translate}}</ion-label>
      <ion-label>{{ user?.sex }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{"PAGE_REACT_FORM.FORM.PHONE" | translate}}</ion-label>
      <ion-label>{{ user?.phone }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{"PAGE_REACT_FORM.FORM.EMAIL" | translate}}</ion-label>
      <ion-label>{{ user?.email }}</ion-label>
    </ion-item>
  </div>
</ion-content>
