//1. Transpilación: http://www.sassmeister.com/
//2. Variables
//3. Anidamiento
//4. Comentarios
//5. Mixins
//6. Importaciones
//7. Operadores aritméticos

body {
  font-family: sans-serif;
}

body h1 {
  color: blue;
}

.container {
  display: block;
  width: 500px;
  height: 100%;
}

.container .avatar {
  display: block;
  width: 50px;
  height: 50px;
}

.container .details {
  padding: 5px;
}

.container .details > .detail-line {
  width: 100px;
}

.container .details > .detail-line:first-child {
  background: red;
}

.container .details > .detail-line .label {
  width: 30px;
}

.container .details > .detail-line .value {
  width: 70px;
}

.container .details > .detail-line .value.fine {
  color: green;
}

.container .details > .detail-line .value.warn {
  color: orange;
}

.container .details > .detail-line .value.danger {
  color: red;
}

@import './mixins';

$size: 50px;

$colors: (
  azul: blue,
  rojo: red,
  verde: green,
  naranja: orange
);

body {
  font-family: sans-serif;
  
  h1 {
    color: map-get($colors, azul);
  }
  
  .container {
    display: block;
    @include rectangulo($size * 100, 100%);
    
    .avatar {
      display: block;
      @include rectangulo($size, $size);
    }
    
    .details {
      padding: 5px;
      
      > .detail-line {
        width: $size * 2;
        
        &:first-child {
          background: map-get($colors, rojo);
        }
        
        .label {
          width: $size - 20;
        }
        
        .value {
          width: $size + 20;
          
          &.fine {
            color: map-get($colors, verde);
          }
          
          &.warn {
            color: map-get($colors, naranja);
          } 
          
          &.danger {
            color: map-get($colors, azul);
          }
        }
      }
    }
  }
}
