<ion-header *ngIf="isVisible" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/surveys-list'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{survey.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isVisible">
  <ion-list class="ion-padding">
    <ion-list-header lines="inset">
      <ion-label><h1>{{survey.statement}}</h1></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let option of survey.options" lines="none">
      <ion-label color="primary"> {{option.value}} </ion-label>
      <ion-checkbox  [hidden]="survey.answered" [disabled]="isDisabled" color="secondary" (click)="sendOption(option.id)"></ion-checkbox>
      <ion-text>{{percentage[option.id-1]}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
