ion-menu-button {
  color: var(--ion-color-light);
}

#container {
  text-align: center;

  margin: 0 auto;
  padding-top: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
