.container-expandable {
  padding: 20px 10px;
  .header-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn-card{
    .btnDetails {
      text-transform: uppercase;
    }
    float: right;
  }
}
